<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.techroof.reseau">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Reseau"
        tools:targetApi="31">
        <activity
            android:name=".Creator.AddNewsfeedActivity"
            android:exported="false" />
        <activity
            android:name=".Supporter.SupporterOrdersActivity"
            android:exported="false" />
        <activity
            android:name=".Supporter.SupporterAccountDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Supporter.PaymentMethodActivity"
            android:exported="false" />
        <activity
            android:name=".Supporter.ShippingDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Supporter.CategoryProductsActivity"
            android:exported="false" />
        <activity
            android:name=".Supporter.CheckOutActivity"
            android:exported="false" />
        <activity
            android:name=".Supporter.ProductDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Creator.AllProductsActivity"
            android:exported="true" />
        <activity
            android:name=".Creator.AddProductsActivity"
            android:exported="true" />
        <activity
            android:name=".Creator.CreatorHomeActivity"
            android:exported="false" />
        <activity
            android:name=".IntroSlider.IntroSliderActivity"
            android:exported="false" />
        <activity
            android:name=".Authentication.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Authentication.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".StartActivity"
            android:exported="false" />
        <activity
            android:name=".Supporter.SupporterHomeActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>